@model RageServers.Web.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Server list";
}

<table>
    <tr>
        <td>IP</td>
        <td>Name</td>
        <td>Players</td>
    </tr>
    @foreach (var server in Model.Servers)
    {
        <tr>
            <td>@server.Key</td>
            <td>@server.Value.Name</td>
            <td>@server.Value.Players</td>
        </tr>
    }
</table>
