@model RageServers.Web.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Server info";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="ServerDetails">
                <partial name="_ServerDetails" model="Model" />
            </div>
        </div>
    </div>
</div>