@model RageServers.Web.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Server list";
}


<div>
    <div class="row">
        <div class="col-md-2">
            @foreach (var server in Model.Servers)
            {
                @Html.Partial("_Summary", server);
            }
        </div>
        <div class="col-md-10">
            GŁOWNY TEKST
        </div>
    </div>
</div>