@model RageServers.Web.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Server list";
}

<div class="container">
    <h1>Click on the server on left side to display more informations</h1>
</div>