@model RageServers.Web.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Testing";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="TestingList">
                <partial name="_TestingList" model="Model" />
            </div>
        </div>
    </div>
</div>