body {
    padding: 0;
    margin: 0;
}

.main-body {
    margin: 5px;
    padding: 15px;
}

.submit-link {
    cursor: pointer;
}

.submit-link:hover {
    color: #b22222 !important;
    font-weight: bold;
}